---

---

<div class="relative w-screen h-screen">
  <div class="absolute hv-center">
    <div class="space-y-6 text-center text-white">
      <div class="tracking-widest">我是王浩彬</div>
      <div class="font-bold text-2xl">
        <div>一个专注于</div>
        <div>创新的前端</div>
      </div>
      <div>请前往 PC 端查看该页面</div>
    </div>
  </div>
</div>
